#formulario{

    margin:"20px";
    background-color:"black";
   border:1px , black solid;
   
   }
   
   p{
       
       height: 40px;
       border: none;
       background-color: rgb(221, 213, 202);
       font-size: larger;
       border-radius: 5px;
       padding: 10px;
   
   }